BRIDGE_HOST=127.0.0.1
BRIDGE_PORT=16892
BRIDGE_TOKEN=generate-with-openssl-rand-hex-32

BRIDGE_POCSTARS_CONTROL_HOST=192.168.1.65
BRIDGE_POCSTARS_CONTROL_PORT=22055
BRIDGE_POCSTARS_AUDIO_HOST=192.168.1.65
BRIDGE_POCSTARS_ACCOUNT=dedicated-dispatcher-account
BRIDGE_POCSTARS_PASSWORD=dispatcher-password-or-hash
POCSTARS_PTT_TIMEOUT_MS=10000
POCSTARS_PTT_MAX_SECONDS=60
